h5 {
    background-color: #54add9;
}




/* justificar o texto do
s paragrafos */
p {
    text-align: justify;
    font-size: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    background-color: #54add9;
}



.bg-plum {
    background-color: plum;
}

h6~p {
    background-color: burlywood;
}


input[type="number"] {
    background-color: red;

}


/* box model */
#internship,
#internship~div {
    width: 240px;
    height: 220px;
    background-color: antiquewhite;
    border: green solid;
    margin: 10px auto 0px auto;
    display: inline-block;
    text-align: left;


}

/* #internship~div {
    width: 200px;
    height: 220px;
    background-color: antiquewhite;
    border: green solid;

    margin: 10px auto 0px auto;
    display: inline-block;
} */

#cesae-management {
    text-align: center;
}


/* por defeito (em mobile, se considerarmos mobile first, a imagem aparece escondida) */
#my-img {
    display: none;
}


/* media query */
/* para prints */
@media print {
    nav {
        display: none;
    }


    #cesae-management {
        text-align: left;
    }


}


/* para tablets ou superiores */
@media(min-width:1037px) and (max-width:2000px) {
    #my-img {
        display: block;
    }
}


@media(min-width:800px) {
    .bg-plum {
        background-color: green;
    }
}

@media(min-width:1800px) {
    .bg-plum {
        background-color: yellow;
    }
}